html {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.pagecontent {
    display: grid;
    grid-template-columns: 150px 1200px;

    align-items: start;
}

/* for menu and something else in the future */
.leftside { 
    grid-column: 1/2;
    display: grid;
    align-items: start;

    grid-row: 1/2;
    margin: 0 5px 0 0;

    background-color: white;
    border-right: 0px solid #6cb5d9;

    height: 100vh;
    position: sticky;
    top:0;
}

/*description of left side */
.menu {
    display: grid;
    align-items: center;

    grid-template-columns: 100%;
    grid-template-rows: auto;
}

.menu-item {
    display: grid;
    background-color:  #b0c6d2;
    border: 2px solid white;
    margin: 10px 5px;

    padding: 3px;
    border-radius: 5px;
}

.menu-item > a {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;

    text-align: center;
}

.menu-item:hover {
    background-color: white;
    border: 2px solid #6cb5d9;
    transition: 0.2s;
}

/*description of the right side*/
.rightside {
    grid-column: 2/3;
    display: grid;

    
}

.notelist {
    display: grid;
}

.notecontent {
    padding: 5px 40px;
    margin: 0;
}

.pagination {
    display: grid;
    justify-content: center;
    justify-items: center;

    margin-bottom: 15px;

    grid-template-columns: 60px 60px;
}

.notecontent > p {
    text-indent: 2ch;
    line-height: 23px;
    margin: 10px 0 10px;
}

.note {
    border-radius: 10px;
    background-color: #d6e9f4;

    margin: 13px 0;
}

.note p
{
    color: rgb(61, 57, 57);
}

.header {
    margin: 0;
    padding: 0 20px;
}

.header h1 {
    margin: 10px 0 0;
}

.yep {
    color: rgb(109, 109, 212);
    transition: 0.9s;
}

.yep:hover {
    color: black;
    transition: 0.9s;
}

/* Mobile devices extension */

@media screen and (max-width: 1350px)  {
    .pagecontent {
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 50px auto;

        align-items: start;

    }

    /*It is not left side anymore :)*/
    .leftside {
        grid-row: 1/2;
        grid-column: auto;

        grid-template-rows: 100%;
        grid-template-columns: auto;

        border-bottom: 2px solid #6cb5d9;
        border-right-width: 0;
        height: max-content;
        width: 100vw;
    }

    .rightside {
        grid-row: 2/3;
        grid-column: 1/2;
        align-items: start;
        width: 100vw;
    }

    .menu {
        display: flex;
        flex-direction: row;
        
        grid-row: 1/2;
        grid-column: 1/2;

    }

    .menu-item {
        background-color:  #b0c6d2;
        border: 2px solid white;
        padding: 0 3px;
        border-radius: 5px;
    }
}

