{% extends 'base.html' %}

{% block title %}Оставить комментарий{% endblock %}

{% block baseblock %}
<form action='/notes/addcomment' method='post'>
	{% csrf_token %}
	<label for='noteid'>Id заметки:</label><br>
	<input type='text' id='noteid' name='note_id'><br>
	<label for='comment'>Текст комментария</label><br>
	<input type='text' id ='comment' name='body'><br>
	<label for'name'>Как вас зовут?</label><br>
	<input type="text" id="name" name="name"><br>
	<button>Try it!</button>
</form>
{% endblock %}
