{% extends 'base.html' %}

{% block title %}Заметки{% endblock %}

{% block baseblock %}
<div class="notelist">
	{% for note in notesItems %}
                <div class="note">
			<div class="header">
				<h1>{{note.header}}</h1>
			</div>
 			<div class="notecontent">
			    {{note.body}}
			 </div>
                </div>
	{% endfor %}
</div>
<div class="pagination-nav">
	<nav>
		{% if page_obj.has_previous %}
			<a href="?page={{page_obj.previous_page_number}}">&lt;</a>
		{% endif %}
		{% if page_obj.has_next %}
			<a href="?page={{page_obj.next_page_number}}">&gt;</a>
		{% endif %}
	</nav>
</div>
{% endblock %}

