{% extends 'base.html' %}

{% block title %}Заметки{% endblock %}

{% block baseblock %}
<div class="notelist">
	{% for note in notesItems %}
                <div class="note">
			<div class="header">
				<h1>{{note.header}}</h1>
			</div>
 			<div class="notecontent">
			    {{note.body}}
			 </div>
                </div>
	{% endfor %}
</div>
<nav>
<div class="pagination">
	{% if page_obj.has_previous %}
		<div class="menu-item">
			<a href="?page={{page_obj.previous_page_number}}">&lt;&lt;</a>
		</div>
	{% endif %}
	{% if page_obj.has_next %}
		<div class="menu-item">
			<a href="?page={{page_obj.next_page_number}}">&gt;&gt;</a>
		</div>
	{% endif %}
</div>
</nav>
{% endblock %}

